# PlatformIO
.pio/
.pioenvs/
.piolibdeps/
lib/
.vscode/
*.pyc

# Processing
processing/application.*/
processing/sketch.properties

# OS temporaires
.DS_Store
Thumbs.db
*.tmp
*.log

# Fichiers de build
build/
dist/
*.bin
*.elf
*.hex